{% extends "base.html" %}
{% load static %}

{% block title %}Прайс-лист{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap gap-5 justify-content-between">
        {% for product in products %}
            <div class="card d-flex align-items-center border-1" style="flex-basis: 350px;">
                <img class="card-img-top pt-2" style="max-width: 150px;"
                     src="{% static "software.svg" %}"
                     alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title fs-4">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-3 text-body-secondary">
                        Кількість товару: {{ product.count }}
                    </h6>
                    <p class="card-text"
                       style="max-height: 150px; overflow: hidden; text-align: justify;">
                        {{ product.description }}
                    </p>
                </div>
                <div class="card-footer w-100 d-flex justify-content-between align-items-center">
                    <div class="fw-bold fs-4">{{ product.price }}₴</div>
                    <div class="d-flex align-items-center gap-1">
                        <div class="fs-5">{{ product.rating }}/5</div>
                        <img class="h-75" src="{% static "star.svg" %}" alt="rating">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}